
body{
    font-family: 'League Spartan', sans-serif;
    margin: 0px;
}
h1 {
    font-size: 60px;
}
p{
    font-size: 1.3em;
}
.peters{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.peter{
    width: 50%;
    margin-left: 7%;
}

.peter img{
    width: 80%;
}
.oranged-text{
    color: orange;
}
.oranged-button{
    background-image: linear-gradient(90deg, tomato, orange);
    color: white;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 1.3em;
}
.link-button{
    margin-top: 40px;
}

.dreams{
    display: flex;
    margin-top: 100px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream{
    width: 48%;
}
.dream img{
    width: 80%;
}
.dream p{
    margin-bottom: 30px;
}
.blue-button{
    padding: 15px 40px;
    background-image: linear-gradient(-120deg, blue, rgb(49, 172, 221));
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3em;
    border-radius: 5px;
}

.exp{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
.exps{
    width: 45%;
    padding: 2%;
    margin: 2%;
    box-shadow: 15px 15px 15px 15px #888888;
}
#exp1{
    border-image: linear-gradient(blue, rgb(49, 172, 221));
    border-image-slice: 1;
    border-left: 10px solid;
}
#exp2{
    border-image: linear-gradient(red, tomato);
    border-image-slice: 1;
    border-left: 10px solid;
}

footer{
    text-align: center;
    padding: 3%;
}